body {
  color: #202020;
}

/* A link that has not been visited */
a:link {
    color: #909090;
    text-decoration: none;
}

/* A link that has been visited */
a:visited {
    color: #909090;
    text-decoration: none;
}

/* A link that is hovered on */
a:hover {
    color: #202020;
    text-decoration: none;
}

/* A link that is selected */
a:active {
    color: #202020;
    text-decoration: none;
}

div > h1 {


}